

.ui-location-wrapper {
  padding: 1.5rem 1.5rem;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.taxonomy-container {
  width: 100%;
}

.term-container {
  padding-left: .625rem;
  display: flex;
  margin: 0.25rem 0;
}

.term-label {
  color: #647696;
  font-size: .75rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -.0025em;
  line-height: 1.5rem;
  padding-left: 0.625rem;
  display: inline-flex;
  align-items: center;
}

.Accordion__heading {
  height: 2rem;
}
.taxonomy-selection {
  width: 100%;
}
.taxonomy-selection > div {
  align-items: center;
  padding: 0 1rem;
  border: 1px solid #dde3ee !important;
}

/* .taxonomy-selection p {
  display: block;
} */

.Tag_v2 {
  border: none!important;
}